<div class="informations">
    <h2 id="info">{{ "Informations pratiques"|trans }}</h2>

        <h3>{{ "Horaires"|trans }}</h3>

        <ul>
            <li>{{ "Ouvert tous les jours de 9h à 18h."|trans }}</li>
        </ul>


        <h3>{{ "Fermetures"|trans }}</h3>

        <ul>
            <li>{{ "Tous les mardis"|trans }}</li>
            <li>{{ "Les 1er mai, 1er novembre et 25 décembre"|trans }}</li>
        </ul>

        <h3>{{ "Tarifs"|trans }}</h3>

        <ul>
            <li>
                {{ "Tarif normal :"|trans}}<br/>
                {{ "Plus de 12 ans : 16 euros"|trans }}
            </li>

            <li>
                {{ "Tarif enfant :"|trans }}<br/>
                {{ "De 4 à 11 ans : 8 euros"|trans }}<br/>
                {{ "Moins de 4 ans : gratuit"|trans }}
            </li>

            <li>
                {{ "Tarif senior :"|trans }}<br/>
                {{ "A partir de 60 ans : 12 euros"|trans }}
            </li>

            <li>
                {{ "Tarif réduit : 10 euros"|trans }}<br/>
                {{ "(accordé sous certaines conditions : étudiant, employé de musée, d'un service du Ministère de la culture, militaire)"|trans }}
            </li>
        </ul>

</div>