
<h1 style="color:#c82d00;">{{ "Billetterie du Musée du Louvre"|trans }}</h1>
<h2>{{ "Acheter votre billet en ligne"|trans }}</h2>
<p>
    {{ "Tarif réduit sur présentation d’un justificatif à l'entrée du musée (étudiant, militaire, employé du musée, d'un service du Ministère de la culture...)."|trans }}<br />
    {{ "Billet nominatif, valable seulement le jour sélectionné." |trans }}<br />
    {{ "Billet à la journée ou à la demi-journée (à partir de 14 h)"|trans }}
</p>


<div class="ancre">
    <a class="btn btn-primary" href="#info" role="button">{{ "Informations pratiques"|trans}}</a>
</div>



{% for flash_message in app.session.flashBag.get('error') %}
    <div class="flash-error">
        {{ flash_message|trans }}
    </div>
{% endfor %}



