{% extends "::layout.html.twig" %}

{% block title %}
    Récapitulatif - {{ parent() }}
{% endblock %}

{% block body %}



    <div class="intro">
        {{ include ('::_introduction.html.twig') }}
    </div>

    {# I. début row 1------------------------------------------------------------------------- #}
    <div class="row" id="rangee">

        {# I.1 début col row page 1/2................................................................. #}
        <div id="colonne" class="col-sm-12">

            <div class="etape">
                <h2>3. Récapitulatif de votre commande</h2>
            </div>



            <div class="fondblanc">

                <div class="commande">
                    <p>Jour de votre visite : {{ commande.dateVisit|date('d/m/Y') }}</p>
                    <p>
                        Type de billet :
                        {% if commande.ticketType %}
                            Journée complète
                        {% else %}
                            Demi-journée
                        {% endif %}
                    </p>
                    <p>Nombre de billet(s): {{ commande.ticketsNumber }}</p>
                </div>

                <h3 id="beneficiaires">Bénéficiaire(s)</h3>

                <div class="table-responsive" id="recap">
                <table class="table recap">
                    <thead>
                    <tr>
                        <th id="center">Ticket</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date de naissance</th>
                        <th>Tarif réduit *</th>
                        <th id="center">Prix du billet</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ticket in commande.tickets %}
                    <tr>
                        <td id="center">Ticket {{ loop.index }}</td>
                        <td><div class="champ"> Nom : </div>{{ ticket.lastName }}</td>
                        <td><div class="champ">Prénom :  </div>{{ ticket.firstName }}</td>
                        <td><div class="champ">Né(e) le </div>{{ ticket.birthDate|date('d/m/Y') }}</td>
                        <td>
                            {% if ticket.reducedPrice == true %}
                                Tarif réduit
                             {% else %}
                                Plein tarif
                            {% endif %}
                        </td>
                        <td id="right"><div class="champ">Montant : </div>{{ ticket.price }} €</td>
                    </tr>
                     {% endfor %}

                    </tbody>

                </table>


                <p id="total">Montant total de votre commande : total € TTC</p>


                    <form id="cgv">
                        <input type="checkbox" id="cgv" required><label>J'ai lu et j'accepte les <a href="https://www.ticketlouvre.fr/louvre/b2c/index.cfm/CGV" target="_blank">conditions générales de vente.</a></label>
                    </form>

                    <a class="btn btn-primary pull-left" href="{{ path('homepage', {'id': commande.id}) }}" role="button">Retour Accueil</a>
                    <a class="btn btn-primary pull-right" href="{{ path('paiement', {'id': commande.id}) }}" role="button">Payer</a>

            </div>

            </div>
        </div>
        {# I.1  fin col row page 2/2................................................................. #}
    </div>
    {# I. fin row 1 ------------------------------------------------------------------------- #}
    {# II. début row 2 ------------------------------------------------------------------------- #}
    <div class="row" id="rangee">
        {# I.2 début col row page 2/2................................................................. #}
        <div id="colonne" class="col-sm-12">
            {{ include ('::_information.html.twig') }}
        </div>
        {# I.2 fin col row page 2/2................................................................. #}

    </div>
    {# I. fin row page------------------------------------------------------------------- #}





{% endblock %}
