{% extends "::layout.html.twig" %}

{% block title %}
    Récapitulatif - {{ parent() }}
{% endblock %}

{% block body %}



    <div class="intro">
        {{ include ('::_introduction.html.twig') }}
    </div>

    {# I. début row 1------------------------------------------------------------------------- #}
    <div class="row" id="rangee">

        {# I.1 début col row page 1/2................................................................. #}
        <div id="colonne" class="col-sm-12">

            <div class="etape">
                <h2>3. Récapitulatif de votre commande</h2>
            </div>



            <div class="fondblanc">

                <div class="commande">
                    <p>Jour de votre visite : {{ commande.dateVisit|date('d/m/Y') }}</p>
                    <p>
                        Type de billet :
                        {% if commande.ticketType %}
                            Journée complète
                        {% else %}
                            Demi-journée
                        {% endif %}
                    </p>
                    <p>Nombre de billet(s): {{ commande.ticketsNumber }}</p>
                </div>

                <div class="table-responsive" id="recap">
                <table class="table">
                    <thead>
                    <tr>
                        <th id="center">Ticket</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date de naissance</th>
                        <th id="center">Tarif réduit *</th>
                        <th id="center">Prix du billet</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ticket in commande.tickets %}
                    <tr>
                        <td id="center">{{ loop.index }}</td>
                        <td>{{ ticket.lastName }}</td>
                        <td>{{ ticket.firstName }}</td>
                        <td>{{ ticket.birthDate|date('d/m/Y') }}</td>
                        <td id="center">
                            {% if ticket.reducedPrice == true %}
                                &#10003;
                            {% endif %}
                        </td>
                        <td id="right">{{ ticket.price }} €</td>
                    </tr>
                     {% endfor %}

                    </tbody>

                </table>
                    <p><i>(*) Un justificatif sera demandé à l'entrée du Musée pour les tarifs réduits.</i></p>
            </div>

            </div>
        </div>
        {# I.1  fin col row page 2/2................................................................. #}
    </div>
    {# I. fin row 1 ------------------------------------------------------------------------- #}
    {# II. début row 2 ------------------------------------------------------------------------- #}
    <div class="row" id="rangee">
        {# I.2 début col row page 2/2................................................................. #}
        <div id="colonne" class="col-sm-12">
            {{ include ('::_information.html.twig') }}
        </div>
        {# I.2 fin col row page 2/2................................................................. #}

    </div>
    {# I. fin row page------------------------------------------------------------------- #}





{% endblock %}
