{% extends "::layout.html.twig" %}

{% block title %}
    {{ "Récapitulatif"|trans }} - {{ parent() }}
{% endblock %}

{% block body %}


    <div class="intro">
        {{ include ('::_introduction.html.twig') }}
    </div>

    {# I. début row 1------------------------------------------------------------------------- #}
    <div class="row" id="rangee">

        {# I.1 début col row page 1/2................................................................. #}
        <div id="colonne" class="col-sm-12">

            <div class="etape">
                <h2>{{ "3. Récapitulatif de votre commande"|trans }}</h2>
            </div>



            <div class="fondblanc">

                <div class="commande">
                    <p>{{ "Date de votre visite :"|trans }} {{ commande.dateVisit|localizeddate('full', 'none') }}</p>
                    <p>
                        {{ "Type de billet :"|trans }}
                        {% if commande.ticketType %}
                            {{ "Journée complète"|trans }}
                        {% else %}
                            {{ "Demi-journée"|trans }}
                        {% endif %}
                    </p>
                    <p>{{ "Nombre de billet(s) :"|trans }} {{ commande.ticketsNumber }}</p>
                </div>

                <h3 id="beneficiaires">{{ "Bénéficiaire(s)"|trans }}</h3>

                <div class="table-responsive" id="recap">
                <table class="table recap">
                    <thead>
                    <tr>
                        <th id="center">Ticket</th>
                        <th>{{ "Nom"|trans }}</th>
                        <th>{{ "Prénom"|trans }}</th>
                        <th>{{ "Date de naissance"|trans }}</th>
                        <th>{{ "Tarif"|trans }}</th>
                        <th id="center">{{ "Prix du billet"|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ticket in commande.tickets %}
                    <tr>
                        <td id="center">Ticket {{ loop.index }}</td>
                        <td><div class="champ"> {{ "Nom"|trans }} : </div>{{ ticket.lastName }}</td>
                        <td><div class="champ">{{ "Prénom"|trans }} : </div>{{ ticket.firstName }}</td>
                        <td><div class="champ">{{ "Né(e) le"|trans }} </div>{{ ticket.birthDate|localizeddate('short', 'none')}}</td>
                        <td><div class="champ">{{ "Tarif"|trans }} </div>{{ ticket.tarif|trans }}</td>

                        <td id="right"><div class="champ">{{ "Montant"|trans }} : </div>{{ ticket.price }} €</td>
                    </tr>
                     {% endfor %}

                    </tbody>

                </table>


                <p id="total">{{ "Montant total de votre commande :"|trans }} {{ commande.total }} € TTC</p>

                <p>{{ "Veuillez prendre connaissance et accepter les conditions générales de vente avant de poursuivre."|trans }}</p>



                    <form id="cgv">
                        <input type="checkbox" id="cgv" required><label>{{ "J'ai lu et j'accepte les "|trans }}<a href="https://www.ticketlouvre.fr/louvre/b2c/index.cfm/CGV" id="liencgv" target="_blank">{{ "conditions générales de vente."|trans }}</a></label>
                    </form>


                    <form action="{{ path('bankDetails') }}" method="POST">

                        <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="{{ stripePublicKey }}"
                                data-amount="{{ commande.total * 100 }}"
                                data-image="{{ asset('images/logo.jpg') }}"
                                data-name="{{ "Billetterie du Louvre"|trans }}"
                                data-description="{{ "Paiement"|trans }}"
                                data-locale="auto"
                                data-label="{{ "Paiement"|trans }}"
                                data-customer="true"
                                data-email="{{ commande.email }}"
                                data-allow-remember-me="false"
                                data-currency="eur">
                        </script>

                    </form>


                    <a class="btn btn-primary pull-left" id="retour" href="{{ path('coordonnees')}}" role="button">Retour</a>

            </div>

            </div>
        </div>
        {# I.1  fin col row page 2/2................................................................. #}
    </div>
    {# I. fin row 1 ------------------------------------------------------------------------- #}
    {# II. début row 2 ------------------------------------------------------------------------- #}
    <div class="row" id="rangee">
        {# I.2 début col row page 2/2................................................................. #}
        <div id="colonne" class="col-sm-12">
            {{ include ('::_information.html.twig') }}
        </div>
        {# I.2 fin col row page 2/2................................................................. #}

    </div>
    {# I. fin row page------------------------------------------------------------------- #}





{% endblock %}
