{% extends "::layout.html.twig" %}

{% block title %}
    Validation - {{ parent() }}
{% endblock %}

{% block body %}




    {# I. début row 1------------------------------------------------------------------------- #}
        <div class="row" id="rangee">

            {# I.1 début col row page 1/2................................................................. #}
            <div id="colonne" class="col-sm-12">

                <div class="etape">
                    <h2>{{ "Validation de votre commmande"|trans }}</h2>
                </div>

                <div class="fondnoirvalid">

                    <div class="erreur">
                        <p id="felicitations">{{ "Félicitations ! Votre commande est validée"|trans }}.</p>
                        <p>{{ "Vous recevrez prochainement votre/vos billet(s) à l'adresse mail"|trans }}</p>
                        <p id="adressemail">  {{ commande.email }}.</p>
                        <hr />
                        <p>
                            {{ "Veuillez noter la référence de votre commande"|trans }}.<br />
                            {{ "En cas de problème de réception de mail, contactez-nous au 00/00/00/00/00, muni de cette référence"|trans }}.
                        </p>

                        <div class="achat">

                            <h3 id="detail">{{ "Détail de votre achat"|trans }}</h3>
                            <p>{{ "Date de votre achat :"|trans }} {{ commande.date|localizeddate('full', 'none') }}</p>
                            <p>{{ "Référence de votre commande :"|trans }} {{ commande.code }}</p>
                            <p>{{ "Montant total de votre commande :"|trans }} {{ commande.total }} euros</p>
                            <p>{{ "Date de votre visite :"|trans }} {{ commande.dateVisit|localizeddate('full', 'none') }}</p>
                            <p>{{ "Type de billet :"|trans }}

                                {% if commande.ticketType %}
                                    {{ "Journée complète"|trans }}
                                {% else %}
                                    {{ "Demi-journée"|trans }}
                                {% endif %}
                            </p>
                            <p>{{ "Nombre de billet(s) :"|trans }} {{ commande.ticketsNumber }}</p>
                            <p>{{ "Bénéficiaire(s)"|trans }}<br />

                            {% for ticket in commande.tickets %}
                                <hr />
                                <p id="titreTicket">Ticket {{ loop.index }}</p>
                                <p>{{ ticket.firstName }},
                                {{ ticket.lastName }}<br />
                                {{ "Tarif :"|trans }}  {{ ticket.tarif|trans }} ({{ ticket.price }} euros)<br />
                            {% endfor %}

                            </p>
                         </div>
                         <hr />

                         <a class="btn btn-primary" href="{{ path('homepage') }}" role="button" id="boutonvalidation">{{ "Retour à la page d'accueil"|trans }}</a>

                    </div>

                </div>
            </div>

        </div>





{% endblock %}
